* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

body {
    background: #1A0B2E;
    color: white;
}

/* common classes  */

.container {
    width: 62%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gradient {
    background: linear-gradient(47deg, rgba(247, 233, 63, 1) 17%, rgba(251, 9, 180, 1) 50%, rgba(145, 0, 248, 1) 81.60%);
}

.bg-color {
    background-color: #412567;
}

.text-regular {
    font-size: 1rem;
    color: white;
}


/* navbar section  */

#header {
    width: 100%;
    height: auto;
    /* background-color: #412567; */
    border: 1px solid #000;
}

.navbar {
    padding: 36px 0;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 45px;
    font-weight: bold;
    color: white;
}

.logo span {
    color: transparent;
    background-clip: text;

}

.navbar ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

.navbar ul a {
    text-decoration: none;
    text-transform: capitalize;
    color: white;

}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    padding: 16px 12px;
    border-radius: 10000px;
    border: none;
    text-align: center;

}



.btn i {
    width: 20px;
    height: 20px;
}

.menubar {
    width: 24px;
    height: 24px;
    color: white;
    display: none;
}

/* hero section  */

#hero {

    width: 100%;
    height: auto;
    background: url(./assets/hero-bg.png) center/cover no-repeat;
    display: flex;
    justify-content: center;
}

.hero-container {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero-content {
    text-align: center;
}

.hero-content .hero-head {
    font-size: 4rem;
    font-weight: bolder;
    color: white;
    margin-bottom: 8px;
}

.text {
    font-size: 1rem;
    color: white;
    margin-bottom: 24px;
}

.hero-buttons {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

}

.hero-btn1 {
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10000px;
    border: none;
    color: white;
    cursor: pointer;

}

.hero-btn1 p {
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;

}


.hero-btn2 {
    background: transparent;
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    cursor: pointer;

}

.hero-btn2 img {
    color: #00FF88;

}

.hero-btn2 p {
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #00FF88;

}

.image-container {
    margin: 0 auto;
}

.bg-img {
    width: max-content;
    padding: 69px 75px 81px 75px;
    background: url(./assets/hero-circle.png) center/contain no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;

}

.bg-img .badge {
    padding: 8px 16px;
    position: absolute;
    text-transform: uppercase;
    background: #00FF88;
    color: #1A0B2E;
    font-size: 18px;
    font-weight: 600;
    border-radius: 1000px;
    top: 12px;
    right: 23px;
    animation: pulse 1s linear infinite;

}

/* podcast section  */

.podcast-container {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.podcast-container h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 16px;

}

.podcast-container p {
    font-size: 1rem;
    line-height: 20px;
    color: white;
    margin-bottom: 30px;

}

.card-container {
    margin-top: 160px;
    justify-content: space-between;
    align-items: center;
}

.card-container .card h3 {
    font-size: 3rem;
    font-weight: bold;
    color: #00FF88;
    margin-bottom: 16px;

}

.card-container .card p {
    font-size: 1rem;
    line-height: 20px;
    color: white;
}




@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 59, 59, 0.6);
    }

    75% {
        transform: scale(1.05);
        box-shadow: 0 0 0 0 rgba(255, 59, 59, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 59, 59, 0.6);
    }
}


.bg-img img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    object-position: center;


}

/* techwave section  */
#techwave{
  width: 100%;
  padding: 120px;
  background-color: #230E3D;
}

.takewave-container h1 {
    text-align: center;
}

.techwave-card-container {
    margin: 40px 0;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 225px);
}

.tech-card {
  
    border-radius: 40px;
    padding: 0 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: 0 0 8px 4px #1c0b30;

}

.card-content img {
    margin-bottom: 16px;
}

.card-content h3 {
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
}

.card-content p {
    font-size: 1rem;
    line-height: 24px;
    color: white;
    margin-bottom: 16px;
}

.col-span2 {
    display: grid;
    grid-column: span 2;
}

.row-span2 {
    display: grid;
    grid-row: span 2;

}

/* small device  */


@media screen and (max-width:576px) {
    body {
        background: #8cdce2;
    }

    .navbar ul {
        display: none;
    }

    .navbar button {
        display: none;
    }

    .menubar {

        display: block;
    }

    .navbar {
        width: 100%;
        padding: 20px;
    }

    .logo {
        font-size: 35px;
    }

    /* hero section  */
    #hero {
        width: 100%;
        padding: 40px 20px;
    }

    .hero-container {
        width: 100%;

    }

    /* podcast section  */
    #podcast {
        width: 100%;
        margin: 0;
        padding: 40px 20px;
    }

    .podcast-container {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .card-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* techwave section  */

    #techwave{
    width: 100%;
    padding: 40px 20px;
    border: 1px solid #d81919;
    }
    .takewave-container{
        width: 100%;
    }
    .techwave-card-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
       
    }
    .tech-card{
        padding: 40px 20px;
    }
}